.post {
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, .12), 0 6px 16px 0 rgba(0, 0, 0, .08), 0 9px 28px 8px rgba(0, 0, 0, .05);
}

.post {
    margin-bottom: 40px;
}

.title {
    font-size: 28px;
    color: black;
    padding-left: 0;
    padding-right: 0;
    height: fit-content;
}

.content {
    color: #959595;
    font-size: 16px;
}

.author {
    margin-right: 40px;
}

.rating {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    font-size: 20px;
}

.rating div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ratingNumber {
    margin: 4px 0;
}

.up:hover, .up:focus {
    color: #00b594;
    border-color: #00b594;
}

.up::selection {
    background: #00b594;
}

.ratedUp {
    color: #00b594;
    border-color: #00b594;
}

.down:hover, .down:focus {
    color: tomato;
    border-color: tomato;
}

.down::selection {
    background: tomato;
}

.onFocus {
    color: rgba(0, 0, 0, 0.85);
    border-color: #d9d9d9;
}

.ratedDown {
    color: tomato;
    border-color: tomato;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.divider {
    margin: 12px 0;
}

.categories {
    margin-bottom: 5px;
}

.commentsCard {
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, .12), 0 6px 16px 0 rgba(0, 0, 0, .08), 0 9px 28px 8px rgba(0, 0, 0, .05);
    margin-bottom: 40px;
}

.commentsTitle {
    font-size: 24px;
    font-weight: 500;
}

.myPostsTitle {
    margin-bottom: 30px;
}

.tag {
    cursor: pointer;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user {
    padding: 0;
}

.edit {
    margin-right: 5px;
}

.addComment {
    margin-right: 20px;
}

.icon {
    font-size: 12px;
}