.wrapper {
    height: calc(100% - 64px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 100%;
    max-width: 600px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.form span[role='button'] {
    margin-right: 10px;
}