.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding-left: 12.5%;
    padding-right: 12.5%;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.logo div {
    margin-right: 5px;
}

.logo span {
    color: #3D5AF1;
}

.search {
    width: 350px;
}

.actions {
    display: flex;
    align-items: center;
}

.profile {
    display: flex;
    align-items: center;
}

.profile div {
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.5);
}