@import '~antd/dist/antd.css';
@import '~react-toastify/dist/ReactToastify.css';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
    height: 100%;
}

html {
    overflow-y: scroll;
}

html::-webkit-scrollbar {
    width: 8px;
}

html::-webkit-scrollbar-thumb {
    background: rgba(24, 144, 255, 0.5);
}

html::-webkit-scrollbar-track {
    background: #f0f2f5;
}

textarea {
    padding-right: 22px !important;
}

textarea::-webkit-scrollbar {
    width: 8px;
}

textarea::-webkit-scrollbar-thumb {
    background: rgba(24, 144, 255, 0.5);
}

textarea::-webkit-scrollbar-track {
    background: #f0f2f5;
}

.ant-card {
    border-radius: 10px;
}

.ant-comment-actions {
    margin-top: 0;
}

.ant-comment-inner {
    padding-top: 10px;
    padding-bottom: 10px;
}

.ant-input-textarea span[role='button'],
.ant-comment span[role='button'] {
    margin-right: 10px;
}
