.addPost {
    margin-bottom: 40px;
    display: block;
}

.addPost button {
    width: 100%;
    border-radius: 5px;
}

.wrapper {
    margin-bottom: 40px;
}

.card, .footer {
    border-radius: 5px;
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, .12), 0 6px 16px 0 rgba(0, 0, 0, .08), 0 9px 28px 8px rgba(0, 0, 0, .05);
}

.footer {
    padding-left: 20px;
    padding-right: 20px;
}

.btnWrapper {
    text-align: center;
    margin-bottom: 0;
}
